body {
  font-family: "Indie Flower", cursive;
  color: #645caa;
  background-color: #eef1ff;
}

.head-intro {
  text-align: center;
  /* border-radius: 50px; */
  width: 50%;
  display: inline-block;
  margin: 0;
}

.head-intro h1 {
  font-size: 3rem;
  margin: 0;
}
.head-intro p {
  /* margin-bottom: 10px; */
  margin:0;
}
.nav {
  float: right;
  margin-top: 0;
  font-size: 1.5rem;
}

.nav-div li {
  margin-top: 0;
  display: inline;
}
.nav-div li a {
  text-decoration: none;
  margin: 0px 30px 0px 30px;
  /* float: right; */
}
.main-content {
  background-color: #d2daff;
  display: inline-block;
  height: 300px;
  padding: 25px;
  width: 50%;
  border-radius: 50px;
  /* margin-top: 10px; */
}
.aside-content {
  /* display: inline-block; */
  width: 20%;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  float:right;
  /* height: 500px; */
  background-color: #d2daff;
}
.aside-content a {
  font-size: 2rem;
  display: block;
}
.aside-content h2 {
  font-size: 2rem;
}
